<h1>Band: <%= @band.name %></h1>

<h3>Albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><a href="<%= album_url(album) %>"><%= album.title %></a></li>
  <% end %>
</ul>
<br>

<form action="<%= new_band_album_url(@band) %>" method="get">
  <%= auth_token %>
  <input type="submit" value="Add Album">
</form>

<form action="<%= edit_band_url %>" method="get">
  <%= auth_token %>
  <input type="submit" value="Edit Band">
</form>

<form action="<%= band_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Band">
</form>